.card {
  a {
    display: block;
    outline: 0.0625rem solid transparent;
    outline-offset: -0.125rem;
  }
  a:focus {
    color: var(--color-foreground);
    outline: 0.0625rem solid var(--color-foreground);
    border-radius: 0.5rem;
  }
}
