.logo {
  a {
    padding: 0.75rem;
    display: block;
    outline: 0.0625rem solid transparent;
    outline-offset: -0.125rem;
    transition: fill 0.1s ease-in-out 0s;
  }
  a:focus {
    color: var(--color-foreground);
    outline: 0.0625rem solid var(--color-foreground);
    border-radius: 0.5rem;
  }

  a svg {
    width: 1.5rem;

    fill: var(--color-foreground);
    &:hover {
      fill: var(--color-incidental);
    }
  }

  a img {
    width: 9rem;
  }
}
