.readmore {
  margin-block-end: 0;

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  p {
    animation: var(--timing-3) ease-in-out 0s normal forwards 1 fadein;
  }
}
